* {
  box-sizing: border-box; }

body {
  font-family: 'Lato',sans-serif;
  letter-spacing: 1px; }

h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.25rem;
  transition: all 0.5s ease-in-out;
  color: white; }

h1:hover {
  color: black; }

h2 {
  font-weight: 900;
  font-size: 1rem;
  color: red;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  margin: 0; }

h4 {
  font-weight: 300;
  padding: 0;
  margin: 0; }

h5 {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

p {
  margin-bottom: 50px;
  line-height: 2rem; }
  p a {
    font-weight: 900;
    color: red; }

a {
  text-decoration: none;
  color: black;
  transition: opacity .2s ease-in-out; }

a:hover {
  opacity: .5; }

hr {
  margin: 100px 0; }

figure {
  padding: 0;
  margin: 0; }

figcaption {
  margin: 0px auto 100px;
  text-align: center;
  color: #777;
  font-size: .8rem;
  max-width: 500px; }

@media (min-width: 767px) {
  h1 {
    font-weight: 100;
    font-size: 6rem;
    line-height: 7rem; }

  h2 {
    font-size: 2rem; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 9rem;
    line-height: 9rem; } }
header {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0px;
  height: 50px;
  transition: background-color .5s ease-in-out; }

.logo {
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo .up {
    display: none;
    width: 30px;
    height: 30px;
    fill: white; }

.trigger {
  text-transform: uppercase;
  position: absolute;
  right: 5px;
  top: 5px;
  color: black;
  cursor: pointer;
  font-weight: 900;
  height: 30px;
  padding-top: 5px;
  display: none; }

.ham-trigger {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 0;
  color: white;
  padding-top: 8px; }

.ham-line {
  width: 30px;
  border-top: 2px solid white;
  margin-bottom: 5px; }

.underline {
  margin-top: 5px;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: width .2s ease-in-out; }

.trigger:hover > .underline {
  width: 100%; }

@media (min-width: 767px) {
  header {
    height: 0; }

  .trigger {
    display: block;
    top: 25px;
    right: 25px; }

  .ham-trigger {
    display: none; }

  .logo {
    top: 25px;
    left: 25px; }
    .logo .up {
      fill: black; } }
.nav-background {
  background: black;
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute; }

.nav-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .nav-close .close-line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    border-top: 2px solid white;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .nav-close .close-line:last-of-type {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    transform: translateX(-50%) translateY(-50%) rotate(135deg); }

nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.main-nav {
  list-style-type: none;
  padding: 0;
  line-height: 3rem;
  text-align: center; }
  .main-nav li {
    text-transform: uppercase; }
    .main-nav li a {
      font-size: 1.5rem;
      font-weight: 300;
      transition: all 0.5s ease-in-out;
      color: white; }

.return {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer; }

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation: backandforth 1s infinite ease-in-out; }
  .arrow .arrow-line {
    width: 15px;
    border-top: 2px solid white;
    transform: rotate(45deg) translate(8px); }
  .arrow .arrow-line:last-of-type {
    transform: rotate(135deg) translate(-8px); }

.testbutton {
  display: none;
  width: 50px;
  height: 50px;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

@media (min-width: 767px) {
  .main-nav {
    line-height: 5rem; }
    .main-nav li a {
      font-size: 3rem;
      font-weight: 100; }

  .nav-close {
    top: 25px;
    right: 35px; }

  .return {
    height: 100vh;
    width: 80px;
    background-color: #eee;
    transition: background-color .3s ease-in-out; }

  .return:hover {
    background-color: black; }

  .return:hover .arrow .arrow-line {
    border-top: 2px solid white; }

  .arrow .arrow-line {
    transition: border-color .3s ease-in-out;
    border-top: 2px solid black; } }
#welcome {
  background-color: #e6511a;
  height: 100vh; }

.background-animation {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-image: url("../images/squiggle-animation2.gif");
  background-color: #e6511a;
  background-blend-mode: multiply;
  background-size: 40%;
  transition: background-size .5s ease-in-out; }

.logo-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo-image a:hover {
    opacity: 1; }
  .logo-image svg {
    fill: white;
    stroke-width: 2;
    width: 150px;
    height: 150px;
    animation: appear 3s;
    transition: all 0.5s ease-in-out; }
  .logo-image svg:hover {
    fill: black; }

@media (min-width: 414px) {
  .background-animation {
    background-size: 30%; } }
@media (min-width: 767px) {
  .background-animation {
    background-size: 20%; }

  .logo-image svg {
    width: 300px;
    height: 300px; } }
@media (min-width: 1200px) {
  .background-animation {
    background-size: 15%; } }
.slide {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

.slide:nth-child(n+2) {
  display: none; }

.slide-header {
  cursor: pointer;
  text-align: center;
  z-index: 1; }

.slide-nav {
  display: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 0;
  position: relative;
  z-index: 1; }
  .slide-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0; }
  .slide-nav li {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 20px;
    transition: font-size .2s ease-in-out; }

.slide-content {
  margin: 0 auto;
  max-width: 1024px; }

.slide-text {
  width: 100%;
  line-height: 2rem; }

.slide-images {
  margin-top: 145px; }

.slide-headline {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 537px; }

@media (min-width: 767px) {
  .slide {
    padding: 100px 15%; }

  .slide-nav li {
    font-size: 3rem;
    font-weight: 100; }

  .slide-headline {
    max-width: 100%; } }
@media (min-width: 1200px) {
  .slide-text, .slide-images {
    float: left;
    padding: 0; }

  .slide-text {
    width: 66.666%;
    padding-right: 10%;
    text-align: justify; }

  .slide-images {
    width: 33.333%; }

  .slide-nav li {
    font-size: 4rem; } }
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0); }
  5% {
    transform: rotate(0deg) scale(0); }
  35% {
    transform: rotate(-45deg) scale(1); }
  65% {
    transform: rotate(-45deg) scale(1); }
  95% {
    transform: rotate(-360deg) scale(0); }
  100% {
    transform: rotate(-360deg) scale(0); } }
@keyframes stretch {
  0% {
    transform: scale(1) rotate(45deg); }
  100% {
    transform: scale(-1) rotate(45deg); } }
@keyframes fall {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }
@keyframes grow {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes spin2 {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(0); }
  40% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(180deg); }
  90% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }
@keyframes backandforth {
  0% {
    transform: translateX(-17px); }
  50% {
    transform: translateX(-12px); }
  100% {
    transform: translateX(-17px); } }
.line-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.line-spacing {
  width: 10%;
  padding-bottom: 10%;
  position: relative; }

.line {
  position: absolute;
  left: 50%;
  width: 1px;
  padding-bottom: 100%;
  background: pink;
  mix-blend-mode: multiply;
  animation: spin 7s infinite ease-in-out; }

.shape-background {
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  mix-blend-mode: overlay; }

.shape {
  margin: 5%;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 20px solid red;
  animation: spin2 10s infinite ease; }

@media (min-width: 767px) {
  .line {
    width: 2px; }

  .shape {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 40px solid red; } }
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none; }

#lightbox-background {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: relative; }

#lightbox-window {
  height: 100%;
  width: 100%;
  padding: 25px;
  text-align: center;
  z-index: 5; }
  #lightbox-window img {
    margin: 0; }

#lightbox-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out; }

#lightbox-close:after {
  content: "X";
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 0;
  color: white; }

#lightbox-close:hover {
  opacity: .5; }

#lightbox-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #lightbox-content p {
    color: black;
    text-transform: capitalize; }

.lightbox-trigger {
  display: block;
  margin: 0 auto;
  margin-bottom: 15%; }

.lightbox-trigger:last-of-type {
  margin: 0 auto; }

.lightbox-trigger img {
  max-width: 100%; }

.img-caption {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: .8rem; }

@media screen and (orientation: portrait) {
  #lightbox-window img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%; } }
@media screen and (orientation: landscape) {
  #lightbox-window img {
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 100%; } }
.project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 537px;
  margin: 0 auto; }

.project-grid::after {
  content: "";
  flex: auto; }

.item {
  width: 100%;
  border: 15px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .item img {
    width: 100%;
    transition: opacity .3s ease-in-out; }
  .item h3 {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .3s ease-in-out;
    opacity: 0; }

.item:hover img {
  opacity: 0; }

.item:hover h3 {
  opacity: 1; }

#mapped-item {
  background-color: #e22; }

#located-item {
  background-color: black; }

#landed-item {
  background-color: #ffff00; }
  #landed-item h3 {
    color: black; }

#settled-item {
  background-color: #1077DD; }

@media (min-width: 767px) {
  .project-grid {
    max-width: 100%; }

  .item {
    width: 50%; } }
@media (min-width: 1024px) {
  .item {
    width: 25%; } }
.project {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10vh 15px 0vh;
  background-color: white;
  z-index: 1;
  overflow-y: scroll; }

.project-content {
  max-width: 507px;
  margin: 0 auto; }
  .project-content img {
    width: 100%;
    display: block;
    margin: 0 auto 15px; }

.image-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 767px;
  margin: 0 auto; }

#vr {
  background-color: black;
  color: white;
  margin: 80px auto 60px;
  height: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  position: relative;
  transition: all 2s ease-in-out; }
  #vr span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    line-height: 0;
    font-weight: 100;
    text-transform: uppercase; }

#vr:hover {
  transform: scale(0.1); }

@media (min-width: 767px) {
  .project-content {
    max-width: calc(767px + 30%);
    padding: 0 15%; }
    .project-content h2, .project-content h3 {
      text-align: center; }

  .image-grid img {
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */
