*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  font-family: 'Lato',sans-serif;
  letter-spacing: 1px;
}

h1{
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.25rem;
  transition: $all-fade;
  color: white;
}

h1:hover{
  color:black;
}

h2{
  font-weight: 900;
  font-size: 1rem;
  color: red;
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
  margin: 0;
}

h4{
  font-weight: 300;
  padding:0;
  margin: 0;
}

h5{
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

p{
  margin-bottom: 50px;
  line-height: 2rem;

  a{
    font-weight: 900;
    color:red;
  }
}

a{
  text-decoration:none;
  color: $linkcolor;
  transition:opacity .2s ease-in-out;
}

a:hover{
  opacity: .5;
}

hr{
  margin: 100px 0;
}

figure{
  padding:0;
  margin: 0;
}

figcaption{
  margin: 0px auto 100px;
  text-align: center;
  color:#777;
  font-size: .8rem;
  max-width: 500px;
}

.scroll-disable{
  position: static;
  overflow: hidden;
}






////////////////////////////////////////////////////////////////////////////////

@media (min-width:767px) {
  h1{
    font-weight: 100;
    font-size:6rem;
    line-height: 7rem;
  }

  h2{
    font-size: 2rem;
  }
}


@media (min-width:1200px) {
  h1{
    font-size:9rem;
    line-height: 9rem;
  }
}
