header{
  width:100%;
  position:fixed;
  z-index:2;
  top: 0;
  right: 0px;
  height: 50px;
  transition: background-color .5s ease-in-out;
}

.logo{
  text-transform:uppercase;
  position:absolute;
  left:10px;
  top:10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .up{
    display: none;
    width: 30px;
    height: 30px;
    fill:white;
  }
}



.trigger{
  text-transform:uppercase;
  position:absolute;
  right:5px;
  top:5px;
  color:black;
  cursor:pointer;
  font-weight:900;
  height: 30px;
  padding-top:5px;
  display: none;
}

.ham-trigger{
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 0;
  color: white;
  padding-top: 8px;
}

.ham-line{
  width: 30px;
  border-top: 2px solid white;
  margin-bottom: 5px;
}

.underline{
  margin-top:5px;
  height:2px;
  width:0%;
  background-color:black;
  transition: width .2s ease-in-out;
}

.trigger:hover > .underline{
  width: 100%;
}






//////////////////////////////////////////////////////////

@media (min-width:767px) {
  header{
    height: 0;
  }

  .trigger{
    display: block;
    top:25px;
    right:25px;
  }

  .ham-trigger{
    display: none;
  }

  .logo{
    top:25px;
    left:25px;

    .up{
      fill:black;
    }
  }

}
