.nav-background{
  background:black;
  width:100%;
  height:100vh;
  display:none;
  position:absolute;
}

nav{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.main-nav{
  list-style-type:none;
  padding:0;
  line-height:3rem;
  text-align: center;

  li{
    text-transform:uppercase;

    a{
      font-size: 1.5rem;
      font-weight: 300;
      transition: $all-fade;
      color: white;
    }
  }
}




.back{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  z-index: 4;
  cursor: pointer;
}

.arrow{
  display: none;
  width: 15px;
  height: 15px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transition: border .3s ease-in-out;
  animation: backandforth 1s infinite ease-in-out;
}




@media (min-width:767px) {
  .main-nav{
    line-height: 5rem;
    li{
      a{
        font-size: 3rem;
        font-weight: 100;
      }
    }
  }

  .back{
    width: 80px;
    height: 100vh;
    background-color: #eee;
    transition: background-color .3s ease-in-out;
  }

  .back:hover{
    background-color: black;
  }

  .back:hover .arrow{
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  .return{
    display: none;
  }

  .arrow{
    display: block;
  }
}
