.slide{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  flex-direction: column;
  position: relative;
}

.slide:nth-child(n+2){
  background-color: white;
}

.slide-header{
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.slide-nav{
  display: none;
  margin:0 auto;
  width: 100%;
  max-width: 900px;
  padding:0;
  position: relative;
  z-index: 1;

  ul{
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  li{
    text-align: center;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    padding:20px;
    transition: font-size .2s ease-in-out;
  }
}

.slide-content{
  margin: 0 auto;
  max-width: 1200px;
}

.slide-text{
  width: 100%;
  padding:0 15px;
  line-height: 2rem;
}

.slide-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 15px;
}

.image{
  width: 100%;
  padding-bottom: 100%;
  margin-top: 50px;
  background-color: grey;
}

















@media (min-width:767px) {
  .slide{
    padding: 100px 10%;
  }

  .slide-nav{
    li{
      font-size: 3rem;
      font-weight: 100;
    }
  }
}


@media (min-width:1200px) {

  .slide-text, .slide-images{
    float:left;
    width: 50%;
    padding: 0 30px;
  }

  .slide-nav{
    li{
      font-size: 4rem;
    }
  }
}
