.slide{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // float: left;
}

.slide:nth-child(n+2){
  background-color: white;
}

.slide-header{
}

.slide-content{
}

.slide-text{
  width: 100%;
}

.slide-images{
  width: 100%;
  background-color: black;
}

h1{
  text-transform: uppercase;
  font-weight: 900 !important;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  transition: all .2s ease;
  line-height: 3rem;
}

h2{
  text-transform: uppercase;
  font-size: 1.5rem;
}

















@media (min-width:767px) {
  h1{
    font-size:7rem;
    line-height: 7rem;
  }
}

@media (min-width:1200px) {
  h1{
    font-size:9rem;
    line-height: 9rem;
  }
}
